body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    margin-bottom: 2em;
}

section.text {
    padding: 0 3em;
}

.col-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#charts {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

.chart {
    margin-bottom: 5em;
    max-width: 800px;
}

.tooltip {
    position: absolute;
    z-index: 10;
}

.tooltip p {
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid #000;
    padding: .5em 1em;
    font-size: 12px;
    line-height: 17px;
    color: black;
}

.tooltipHeader {
    font-weight: 700;
    font-size: 12.5px;
}


/*  svg text tooltip that appears over the chart, relative to the chart rather than relative to the cursor  */

.chart-tooltip {
    font-size: 12px;
    fill: #000;
}

svg {
    background-color: white;
}

.area {
    stroke: none;
}

.chart-title {
    font-weight: bold;
}

.axis text {
    font-size: .75em;
    fill: #aaa;
}

.axis .subtitle,
.multiples-caption,
.curYear,
.static-year {
    fill: #666;
    font-size: .75em;
}

.axis .label {
    fill: #666;
    font-size: .85em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.y.axis .tick line,
.x.axis .tick line {
    stroke: #f2f2f2;
}

.y.axis .tick:first-child line {
    stroke: #000;
    stroke-width: 0;
    opacity: 0;
}

.y.axis .domain {
    stroke: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.bindingLine {
    stroke: #2A2A2A;
    fill: none;
    stroke-opacity: 100%;
    stroke-width: 1px;
}

.bar:hover {
    opacity: 1;
}

.hidden {
  display:none;
  opacity: 0.0;
}