* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 1em;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    margin-bottom: 2em;
}

h3 {
    font-weight: bold;
    font-size: 1em;
}

.select {
    font-size: 1em;
    position: relative;
    display: inline-block;
}

.select select {
    font-family: 'Lato', sans-serif;
    font-size: .65em;
    padding: .8em 1.25em .8em .7em;
    margin-bottom: 1em;
    text-transform: uppercase;
    outline: none;
    -webkit-appearance: none;
    display: block;
    padding: 1.2em 3em 1.3em 1.5em;
    margin: 0;
    transition: border-color 0.2s;
    border: 2px solid #666;
    border-radius: 0;
    background: #fff;
    color: #666;
    line-height: normal;
    line-height: inherit;
}

.select .arrow {
    background: #fff;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 40px;
    pointer-events: none;
}

.select .arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    right: .5em;
    margin-top: 40%;
    pointer-events: none;
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.select .arr:after {
    content: '';
    position: absolute;
    top: 50%;
    right: .5em;
    pointer-events: none;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

button {
    font-family: 'Lato', sans-serif;
    font-size: .6em;
    padding: .9em .75em;
    margin-bottom: 1em;
    text-transform: uppercase;
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0);
    color: #666;
}

button.selected {
    background-color: #666;
    color: #fff;
}

.col-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


#charts {
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

.chart-section {
    margin-bottom: 10em;
}

.chart {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2em;
    /*    margin: 0 auto 2em;*/
}

.tooltip {
    position: absolute;
    z-index: 10;
}

.tooltip p {
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid #000;
    padding: .5em 1em;
    font-size: 12px;
    line-height: 17px;
    color: black;
}

.tooltipHeader {
    font-weight: 700;
    font-size: 12.5px;
}


/*  svg text tooltip that appears over the chart, relative to the chart rather than relative to the cursor  */

.chart-tooltip {
    font-size: 12px;
    fill: #000;
}

svg {
    background-color: rgba(255, 255, 255, 0);
}

.area {
    stroke: none;
}

.chart-title {
    font-weight: bold;
}

.zipcodes-ranking {
    font-size: .75em;
    font-weight: bold;
}

.axis text {
    font-size: .75em;
    fill: #aaa;
}

.axis .subtitle,
.multiples-caption,
.curYear,
.static-year,
.subtitle {
    fill: #666;
    font-size: .75em;
}

.axis .label {
    fill: #666;
    font-size: .85em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.y.axis .tick line,
.x.axis .tick line {
    stroke: #f2f2f2;
}

.y.axis .tick:first-child line {
    stroke: #000;
    stroke-width: 0;
    opacity: 0;
}

.y.axis .domain {
    stroke: none;
}

.axis.hide-ticks g.tick text {
    display: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.bindingLine {
    stroke: #2A2A2A;
    fill: none;
    stroke-opacity: 100%;
    stroke-width: 1px;
}

.bar:hover,
.layer:hover,
path.arc:hover {
    opacity: 1;
}

.bar,
.layer,
path.arc {
    transition: .35s;
}

.hidden {
    display: none;
    opacity: 0.0;
}